/* quote */
blockquote {
	border: none;
}
/* testimonials */
.testimonial {
    padding: 12px;
    border: solid 1px #e6e4e4;
}
.testimonial blockquote {
	background: url("../images/small-quote.png") no-repeat scroll 0px 15px transparent;
	margin-bottom: 0px;
	padding: 20px 35px;
}

.testimonial .thumbnail {
	box-shadow: none;
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: auto;
    top: auto;
    padding-right: 0;
    padding-bottom: 0;
}
.testimonial .thumbnail img {
    width: 87px;
    height: 85px;
    padding-right: 0;
    padding-bottom: 0;
}
.testimonial .testimonial-text {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    min-height: 0;
}



testimonial-page .thumbnail img {
    border-radius: 0 0 0 0;
    height: auto;
    padding-top: 11px;
    width: auto;
    float: right;
}

.testimonial .testimonial-name {
	float: none;
    text-align: right;
    margin-right: 85px;    
    padding-top: 45px;
    padding-bottom: 15px;
}
.testimonial .testimonial-name.nothumb {
	float: none;
    text-align: right;
    margin-right: 0px;    
    padding-top: 45px;
    padding-bottom: 15px;
}
.testimonial .testimonial-name p, .testimonial .testimonial-name a {
    line-height: 1.6em;
}
.testimonial .testimonial-name p.name, .testimonial .testimonial-name a.name {
    float:none;
    font-size: 11px;
    font-family: 'Noticia Text', sans-serif;
    color: #b26706;
    font-style: normal;
    font-weight: 400;
}
.testimonial .testimonial-name a.name:hover, .testimonial .testimonial-name a.website:hover {
    color: #1F1F1F;
}
.testimonial .testimonial-name a.website, .testimonial .testimonial-name span.website {
    float:none;
    line-height: 1.6em;
}
.testimonial-post .wp-post-image {
	
}
.newsletter-section input.submit-field {
    background: #fff;
    border: 1px solid #7d7b7b;
    font-family: 'Noticia Text', serif;
    color: #000;
    height: auto;
    font-size: 12px;
}
.newsletter-section input.submit-field:hover {
    background: #1f1f1f;
    border: 1px solid #1f1f1f;
    color: #fff;
}


/* testimonial_slider */
.testimonials-flexslider  {
	margin: 0 10%;
	position: relative;
}
.testimonials-flexslider p {
	text-align:center;
}
.testimonials-flexslider ul.flex-direction-nav {
	width: 100%;
	height: 39px;
	top: 30%;
	position:absolute;
}
.testimonials-flexslider .flex-direction-nav .flex-prev {
    background: url("../images/prev.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    opacity: 0.8;
    left: 0;
	float:left;
	margin:0px 0px 0px -10%;
	top:0px;
}
.testimonials-flexslider .flex-direction-nav .flex-next {
    background: url("../images/next.png") no-repeat scroll 0 0 transparent;
    background-position: right;
    height: 39px;
    opacity: 0.8;
	right:0px;
    float:right;
	margin:0px -10% 0px 0px;
	top:0px;
}
.testimonials-flexslider ul li blockquote {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
.testimonials-flexslider ul li blockquote p {
    color: #030303;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonials-flexslider ul li p.meta {
    color: #030303;
    font-size: 1.0714em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonials-flexslider ul li p.meta strong {
    color: #373737;
}
.testimonials-flexslider ul li a {
    color: #030303;
    line-height: 24px;
}
.testimonials-flexslider ul li a:hover {
    color: #1C1C1C;
}