<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcApp_irib_spClass-20140224225724;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcApp_irib_spClass-20140224225724.mdf" />
    <!-- "Data Source=learnkey.ir;Initial Catalog=asanhost_learnkey;User Id=sabertabatabaei;password=bGd$4p20"  -->
    <add name="LearnKeyConnection" providerName="System.Data.SqlClient" connectionString="Data Source=learnkey.ir;Initial Catalog=asanhost_learnkey;User Id=sabertabatabaei;password=bGd$4p20" />
  </connectionStrings>
</configuration>